

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #dcf2fc;
    }
    
    /* Style the buttons that are used to open the tab content */
    .tab button {
    background-color: #dcf2fc;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    }
    
    /* Change background color of buttons on hover */
    .tab button:hover {
    background-color: #e8faf3;
    }
    
    /* Create an active/current tablink class */
    .tab button.active {
    background-color: #93d5fa;
    }
    
    /* Style the tab content */
    .tabcontent {
    margin-left: 30px;
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    }
    
    .heighttext {
    padding: 20px 10px;
    line-height: 28px;
    }
    
    #customers {
    font-family: "Cambria";
    border-collapse: collapse;
    width: 100%;
    }
    
    #customers td, #myTable th {
    border: 1px solid #ddd;
    padding: 8px;
    }
    
    #customers tr:nth-child(even){background-color: #f2f2f2;}
    
    #customers tr:hover {background-color: #ddd;}
    
    #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #525858;
    color: white;
    }
    
    .myDiv {
    border: 5px outset red;
    background-color: lightblue;
    text-align: center;
    }	
    
    p.a {
        font: bold 20px Cambria;
        padding-top: 17px;
        padding-left: 10px;
        background-color: rgb(192, 191, 191);
    }
    
    p.b {
        padding-top: 1px;
        background-color: rgb(192, 191, 191);
    }